* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 3, 33);
}

.swiper {
    width: 45%;
    height: fit-content;

}

.swiper-slide img {
    width: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: white;
}

.swiper .swiper-pagination-bullet-active{
    background: white;
}